<%- include('partials/header.ejs') %>
<form action="/editTask/<%= task.task_id  %>" method="post">
    <label for="heading">heading</label>
    <input type="text" name="heading" id="heading" placeholder="heading" required value="<%= task.task_title%>">
    <label for="taskinfo">task info</label>
    <input type="text" name="taskinfo" id="taskinfo" placeholder="task" required value="<%= task.task_info%>">
    <button type="submit">update task</button>
</form>

<%- include('partials/footer.ejs') %>